<div class="container-fluid">
    <div class="content">
        <div class="mb-3 form-input col-sm-6 ">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" placeholder="Name" [(ngModel)]="name">
        </div>
        <div class="d-flex my-3">
            <button class="m-btn-mid" (click)="onGenerate()">Generate Link</button>
        </div>
        <div class="mb-3 form-input col-sm-12 ">
            <label for="name" class="form-label">link</label>
            <input type="text" id="name" placeholder="link" [(ngModel)]="link">
        </div>
    </div>
</div>
