<div class="container">
    <p class="section-title">Our background</p>
    <p class="text-4"><strong class="text-1">Based in Kolkata , </strong> Prime Event and Wedding is
        one of the
        popular event management companies in Kolkata that are capable enough to make your special
        day
        the most memorable and beautiful one. If you are in search of a professional team of wedding
        planners who ensure that your wedding is a memorable experience.
        &nbsp;They have gained immense experience from the past <strong>10 years</strong> in this field and are
        determined to make
        your special day a memorable
        one
        &nbsp;Originality, uniqueness, customization, and personalization are elements that are incorporated within
        their
        services. Successfully planning and organizing numerous events they have been one of the
        renowned&nbsp;event
        management companies in Kolkata.
        <br>
        <br>
        Prime Event and wedding is a team of management companies who understand
        the
        passion
        behind
        wedding planning or organizing any event. They are one of the specialized event
        management
        companies in Kolkata destination weddings, birthday parties, corporate events, pre and
        post-wedding ceremonies, engagement ceremonies, and are well known for taking care of the arrangement,
        heritage,
        tradition, as well as family programs. They work according to the demands and requirements of the clients.
        From
        planning to execution, they will be doing everything. Their approach is highly client-oriented and they take
        pride
        in our record excellence and quality of our services.
        <br>
        <br>
        We assure the best service and specialize in designing
        beautiful, bespoke weddings, personally planned down to the last detail. They have great experience in this
        field.
        They are here to cater to your every need and turn your day into a memorable experience. If you are looking
        for
        a
        one-of-a-kind and passionate team Prime Event and wedding would be the best to choose.
    </p>
</div>
<h5 class="section-title">members</h5>
<h2 class="text-1 ">Team</h2>
<div class="container row justify-content-start align-item-start">
    <div class="col-sm-6 ">
        <div class="m-card  my-3">
            <img src="../../../assets/founder/admin1.jpg" alt="John">
            <div>
                <p class="t"> Jayasree halder</p>
                <p class="title">CEO & Founder</p>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="m-card my-3">
            <img src="../../../assets/founder/admin2.jpg" alt="John">
            <div>
                <p class="t"> parthiba halder</p>
                <p class="title">Co-Founder</p>
            </div>

        </div>
    </div>

</div>

<app-contact-us></app-contact-us>
